<div class="bg-yellow pt-4 pb-2">
    <div class="d-flex justify-content-between mx-5 pb-5 align-items-center flex-lg-row flex-column">
        <div class="d-flex justify-content-between flex-wrap mb-lg-0 mb-5 helvetica-font">
            <a class="footer-link me-3 me-lg-5" href="{{ path('app_concerts') }}">Koncerty</a>
            <a class="footer-link me-3 me-lg-5" href="">Fotky & videa</a>
            <a class="footer-link me-3 me-lg-5" href="{{ path('app_merch') }}">Merch</a>
            <a class="footer-link" href="{{ path('app_contact') }}">Kontakt</a>
        </div>
        <div class="d-flex align-items-center flex-sm-row flex-column justify-content-center">
            <p class="mb-0 fw-bold me-0 me-sm-4 mb-3 mb-sm-0">Sledujte nás na</p>
            <div class="d-flex">
                <a class="text-purple h4 me-3 socials mb-0" href="https://www.facebook.com/BandCircusBrothers" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
                <a class="text-purple h4 me-3 socials mb-0" href="https://www.instagram.com/circus_brothers/?hl=cs"><i class="fa-brands fa-square-instagram"></i></a>
                <a class="text-purple h4 me-3 socials mb-0" href="https://www.youtube.com/c/CircusBrothers" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                <a class="text-purple h4 socials mb-0" href="https://open.spotify.com/artist/36yP8u0asXvq4pr8sEpEgh" target="_blank"><i class="fa-brands fa-spotify"></i></a>
            </div>
        </div>
    </div>
    <div class="text-center footer-rights helvetica-font pt-sm-5 pt-0 mt-sm-5 mt-0">
        Všechna práva vyhrazena. © Circus Brothers {{ 'now' | date('Y') }}
    </div>
</div>