.hp-concerts {
  background-color: #F0F0F0;
}

.bg-concert-date-hp {
  background-color: #000000;
}

.bg-purple {
  background-color: #4915BC;
}

.color-purple {
  color: #4915BC;
}

.bg-yellow {
  background-color: #F7CC01;
}