.menu-link:hover {
  text-decoration: underline;
}

.footer-link {
  color: #000000;
  text-decoration: none;
}

.footer-link:hover {
  color: #000000;
  text-decoration: underline;
}

.socials:hover {
  color: #FFFFFF;
}