{% extends 'admin/components/layout.html.twig' %}

{% block title %}Přidat novy concert{% endblock %}

{% block content %}
    {% include 'admin/components/flashes.html.twig' %}

    <a class="btn btn-info btn-sm mb-3" href="">Zpět</a>

    <h1 class="h3 mb-2 text-gray-800">
        Přidat novy event
    </h1>

    <div class="card shadow mb-4">
        <div class="card-body">
           WHAHAHAHHAAHH
        </div>
    </div>
{% endblock %}