{% extends 'site/app_layout.html.twig' %}

{% block meta_title %}Circus Brothers | Kontakt{% endblock %}
{% block meta_keywords %}Circus Brothers, Kapela, Koncert, Party, Firemní večírek, Oslava, Festival, Circus, Šapitó, Zábava, Balkan, Bashavel{% endblock %}
{% block meta_description %}Prozkoumejte galerii fotografií a videí Circus Brothers a ponořte se do atmosféry našich nezapomenutelných vystoupení a událostí.{% endblock %}
{% block og_meta_title %}Fotografie a Videa Circus Brothers | Ponořte se do našeho světa{% endblock %}
{% block og_meta_description %}Objevte svět Circus Brothers prostřednictvím naší bohaté galerie fotografií a videí. Zažijte atmosféru našich vystoupení z pohodlí vašeho domova.{% endblock %}

{% set count = 1 %}

{% block body %}
    {% include 'site/app/_component/header.html.twig' %}

    <div class="w-100">
        <h5 class="fw-bold text-center my-5">Fotografie</h5>
        <div class="row g-0">
            {% for photo in mediaContentItems['photos'] %}
                <div class="col-lg-6 col-12">
                    <img src="{{ asset(imageAssets ~ photo.photo.fileName) }}" alt="{{ photo.name }}" style="width: 100%; height: auto;">
                </div>
            {% endfor %}
        </div>
        <h5 class="fw-bold text-center my-5">Videa</h5>
        <div class="row g-0">
            {% for video in mediaContentItems['videos'] %}
                <div class="col-12 vh-100">
                    <iframe class="vh-100 w-100"
                            src="{{ video.videoLink }}"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin"
                            allowfullscreen>
                    </iframe>
                </div>
            {% endfor %}
        </div>
    </div>

    {% include 'site/app/_component/footer.html.twig' %}
{% endblock %}